h2, h4{
  font-family: 'Quicksand', sans-serif;
}

#front-page {
  padding-right: 10%;
  text-align: right;
  color: white;
}

.logo {
  padding: 1% 0 1% 45%

}


/*.nav {
  padding-left: 35%;
}*/

.navbar {
  padding-left: 34%;
  font-family: 'Quicksand', sans-serif;
}

.jumbotron {
  height: 400px;
  background: url("/img/running.jpg");
  background-size: cover;
  opacity: 0.9;
}

#postings {
  font-family: 'Quicksand', sans-serif;
  color: black;
}


















/****RESPONSIVE CSS****/

@media(max-width: 800px) {
  .nav {
  padding-left: 0px;
  }
}
