body {
  font-family: 'Quicksand', sans-serif;
}

.author-name {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

#front-page {
  padding-right: 10%;
  text-align: right;
  color: white;
}

.logo {
  padding: 1% 0 1% 45%

}


/*.nav {
  padding-left: 35%;
}*/

.navbar {
  padding-left: 34%;
  font-family: 'Quicksand', sans-serif;
}

.jumbotron {
  height: 400px;
  background: url("/img/running.jpg");
  background-size: cover;
  opacity: 0.9;
}

#postings {
  font-family: 'Quicksand', sans-serif;
  color: black;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 200%;
}

















/****RESPONSIVE CSS****/

@media(max-width: 800px) {
  .nav {
  padding-left: 0px;
  }
}
