<div class="logo">
  <img src="img/sira.png" height="100px" width='100px'>

</div>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"></a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Sooth Me</a></li>
      </ul>
    </div>
  </div>
</nav>

{{outlet}}
