{{outlet}}

<div class='jumbotron'>
  <div id="front-page">
    <h2>Should I run away?</h2>
    <h4>You have asks, we have answers.</h4>
  </div>
</div>
<br>
<br>
<div class='container'>
  <div id="postings">
    <div class='row'>
      <div class='col-md-8'>
        <h2>Test Post</h2>
      </div>
      <div class='col-md-4'>
        <h2>Test Ad</h2>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-4'>
        <h2>Test Ad</h2>
      </div>
      <div class='col-md-8'>
        <h2>Test Post</h2>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-8'>
        <h2>Test Post</h2>
      </div>
      <div class='col-md-4'>
        <h2>Test Ad</h2>
      </div>
    </div>
    <br>
    <div class='row'>
      <div class='col-md-4'>
        <h2>Test Ad</h2>
      </div>
      <div class='col-md-8'>
        <h2>Test Post</h2>
      </div>
    </div>
  </div>
</div>
